*{
    box-sizing: border-box;
}

.homepage {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    font-family: 'Source Sans Pro', sans-serif ;
}

.auth-page {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif ;
}